.footer {
  background: #d0ae97;
  height: 200px;
  color: white;
  height: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto var(--width-margin);
  padding: 40px 0 0 0;
}

.shop,
.info,
.social,
.languages {
  /* flex-grow: 1; */
  padding: 20px 60px;
  margin-bottom: 10px;
}

.columnTitle {
  font-size: var(--fsize-5);
  font-weight: 300;
  margin-bottom: 15px;
}

.indent {
  padding-left: 20px;
}

.item {
  margin: 5px 0;
}

.iconGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.socialIcons {
  width: 60px;
  height: 60px;
  padding: 5px;
  cursor: pointer;
  transition: filter 500ms ease;
}
.socialIcons:hover {
  filter: sepia(100%);
}

.copyright {
  margin: auto var(--width-margin);
  padding: 40px 20px;
  text-align: right;
}
