.productCard {
  flex: 0 1 25%;
  padding: 10px 8px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.imageArea {
  border-radius: 5px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.25);
  color: white;
  height: 136px;
  position: relative;
  z-index: 1;
}

.bgPattern {
  mix-blend-mode: multiply;
  position: absolute;
  height: 100%;
  z-index: 1;
  right: 0px;
}

.country {
  font-size: 0.9rem;
  padding: 9.48% 0 0 5.38%;
  /* font-weight: 400; */
  line-height: 22.5px;
  position: relative;
  z-index: 2;
}

.name {
  font-size: 1.1rem;
  padding-left: 5.38%;
  /* font-weight: 500; */
  line-height: 30px;
  text-overflow: ellipsis;
  position: relative;
  z-index: 2;
}

.process {
  font-size: 0.8rem;
  padding: 5% 12% 8% 5.38%;
  /* font-weight: 400; */
  line-height: 22.5px;
  position: relative;
  z-index: 2;
}

.addToCart {
  position: absolute;
  top: 30%;
  left: 22.5%;
  z-index: 3;
}

.detailButton {
  position: absolute;
  top: 30%;
  right: 22.5%;
  z-index: 3;
}

.infoArea {
  text-align: right;
  margin-top: 13px;
}

.flavorsMain {
  font-size: 0.8rem;
  /* font-weight: 400; */
  line-height: 22px;
  text-overflow: ellipsis;
}

.price {
  font-size: 1.1rem;
  /* font-weight: 400; */
  line-height: 30px;
}

@media screen and (max-width: 1140px) {
  .productCard {
    flex: 0 1 33.3%;
  }
}

@media screen and (max-width: 960px) {
  .productCard {
    flex: 0 1 50%;
  }
  .country {
    padding: 6% 0 0 5.38%;
  }
}

@media screen and (max-width: 470px) {
  .productCard {
    flex: 0 1 100%;
  }
  .country {
    padding: 6% 0 0 5.38%;
  }
}
