.wrapper {
  background-image: url(/images/bg-product-details.png);
  background-repeat: no-repeat;
  background-position: 100% -420%;
  background-size: 944px;
  padding-bottom: 100px;
}

.main {
  margin: auto var(--width-margin);
  min-height: 380px;
}
.bgImg {
  display: absolute;
}
.title {
  margin: 15px 0;
  font-size: var(--fsize-3);
  font-weight: 300;
  color: var(--gold-subtitle);
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.lineBreak {
  height: 25px;
}

.addToCart {
  /* display: flex; */
  /* align-items: flex-end;
  justify-content: flex-end;  */
  margin-top: 80px;
}

/* .addToCartText {
  text-decoration: underline;
  font-size: var(--fsize-5);
  color: var(--green-header);
  padding-right: 20px;
  text-align: right;
  cursor: pointer;
  float: right;
} */

/* .addToCartButton {
  position: fixed;
  bottom: 10%;
  right: 90px;
  cursor: pointer;
} */

@media screen and (max-width: 1270px) {
  .wrapper {
    background-position: 100% -22%;
    background-size: 600px;
  }
}

@media screen and (max-width: 1020px) {
  .wrapper {
    background-image: none;
  }
  .title {
    font-size: var(--fsize-4);
  }
  .main {
    margin: auto 15px;
  }
}

@media screen and (max-width: 470px) {
  .title {
    font-size: var(--fsize-5);
  }
  .main {
    margin: auto 30px;
  }
}
